* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 20px;
}
body {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #121212;
	color: #f0f0f0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
	width: 50%;
	height: 60%;
	border-radius: 10px;
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: #4285f4;
}
button {
	padding: 0.6rem 0.875rem;
	font-size: 1.25rem;
	border-radius: 7.5px;
	cursor: pointer;
	color: #f0f0f0;
	background-color: #3f51b5;
	border: 5px solid rgba(0, 0, 0, 0.2);
}
button:focus {
	border: 5px solid transparent;
	outline: 0;
}
.head {
	color: #fbbc05;
	font-size: 1.5rem;
}
.hero {
	font-size: 1.25rem;
}
.body {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-flow: column;
}
.body > * {
	padding: 0.35rem 0;
}
@media (max-width: 880px) {
	.container {
		width: 75%;
	}
}
@media (max-width: 672px) {
	.container {
		width: 95%;
		height: 80%;
	}
}
